# NYC Taxi-Airport Data

In [1]:
import csv
import numpy as np

Import nyc_taxi.csv as a list of lists

In [2]:
f = open("nyc_taxis.csv", "r")
taxi_list = list(csv.reader(f))

Remove the header

In [3]:
taxi_list = taxi_list[1:]

Convert all the values to float

In [4]:
converted_taxi_list = []
for row in taxi_list:
    converted_row = []
    for element in row:
        converted_row.append(float(element))
    converted_taxi_list.append(converted_row)

Convert list of lists into numpy array

In [5]:
taxi = np.array(converted_taxi_list)

In [10]:
taxi_shape = taxi.shape
print(taxi_shape)

(2013, 15)

Ndarray has 15 columns and 2013 rows.

Selecting and slicing rows from ndarrays

In [ ]:
row_0 = taxi[0]
rows_391_to_500 = taxi[391:501]
row_21_column_5 = taxi[21][5]

Selecting columns and custom slicing Ndarrays

In [14]:
columns_1_4_7 = taxi[:, [1,4,7]]
row_99_columns_5_to_8 = taxi[99, 5:9]
rows_100_to_200_column_14 = taxi[100:201, 14]

Vector operations

In [18]:
fare_amount = taxi[:, 9]
fees_amount = taxi[:, 10]

fare_and_fees = fare_amount + fees_amount

In [19]:
print(fare_and_fees)

[52.8 46.3 37.8 ... 52.8 35.8 49.3]

Caluculating the average travel speed (in miles per hour)

In [20]:
trip_distance_miles = taxi[:, 7]
trip_length_seconds = taxi[:,8]

trip_length_hours = trip_length_seconds / 3600

trip miles per hour = trip distance in miles รท trip length in hours

In [21]:
trip_mph = trip_distance_miles / trip_length_hours

print(trip_mph[:10])

[37.11340206 38.58157895 31.27222982 25.88429752 26.3715415  38.53293413
 32.81553398 35.95075239 51.00702576 33.20207254]

Calculating statistics for 1D Ndarrays

In [22]:
mph_min = trip_mph.min()
mph_max = trip_mph.max()
mph_mean = trip_mph.mean()

In [23]:
print(mph_min, mph_max, mph_mean)

0.0 82800.0 169.98315083655157

Calculating statistics for 2D Ndarrays

In [24]:
# extract the first 5 rows only
taxi_first_five = taxi[:5]
# select columns: fare_amount, fees_amount, tolls_amount, and tip_amount
fare_components = taxi_first_five[:, 9:13]

In [26]:
# calculate sum of each row 
fare_sums = fare_components.sum(axis = 1)
# extract 14th column whoch is fare total  
fare_totals = taxi_first_five[:, 13]

print(fare_sums, fare_totals)

[69.99 54.3  37.8  32.76 18.8 ] [69.99 54.3  37.8  32.76 18.8 ]